h1{
    color: red;
}
a{
    text-decoration: none;
    padding: 10px;
    background-color: brown;
    border-radius: 15px;
    color:  lightgray
}
a:hover{
    background-color: #584141;
    color: antiquewhite;
}
